
$default-color: #0e4f1f;
$dark-green: #2ddf5c;
$safedi: white;

#product-overview {
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent), url("images/freedom.jpg") center/cover no-repeat border-box, #ff1b68;
  /* background-image: url("freedom.jpg");
    background-size: cover;
    background-position: left 10% bottom 20%; */
  /* background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box; */
  /* background-image: linear-gradient(180deg, red 70%, blue 60%, rgba(0,0,0,0.5)); */
  /* background-image: radial-gradient(ellipse farthest-corner at 20% 50%, red, blue 70%, green); */
  width: 100vw;
  height: 33vh;
  /* border: 5px dashed red; */
  position: relative; }

#product-overview h1 {
  color: $safedi;
  font-family: "Anton", sans-serif;
  position: absolute;
  bottom: 5%;
  left: 3%;
  font-size: 1.6rem; }

@media (min-width: 40rem) and (min-height: 40rem) {
  #product-overview {
    height: 40vh;
    background-position: 50% 25%; }

  #product-overview h1 {
    font-size: 3rem; } }
.section-title {
  color: $dark-green;
  text-align: center; }

.plan {
  background: #d5ffdc;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem 0;
  width: 100%; }

.plan--highlighted {
  background: #19b84c;
  color: $safedi; }
  
  .plan--highlighted .plan__title {
    color: $safedi; }
  .plan--highlighted .plan__price {
    color: #0e4f1f; }

.plan__annotation {
  background: $safedi;
  color: #19b84c;
  padding: 0.5rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  list-style: none;

  border-radius: 8px; }

.plan__title {
  color: $default-color; }

.plan__price {
  color: #858585;
 }


 .plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__feature {
  margin: 0.5rem 0; }

@media (min-width: 40rem) {
  .plan__list {
    width: 100%;
    text-align: center; }

  .plan {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    min-width: 13rem;
    max-width: 25rem; }

  .plan--highlighted {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5); } }
#key-features {
  background: #ff1b68;
  margin-top: 5rem;
  padding: 1rem; }

#key-features .section-title {
  color: $safedi;
  margin: 2rem; }

.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center; }

.key-feature__image {
  background: #ffcede;
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: auto;
  padding: 1.5rem; }

.key-feature__description {
  text-align: center;
  font-weight: bold;
  color: $safedi;
  font-size: 1.2rem; }

@media (min-width: 40rem) {
  .key-feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    min-width: 13rem;
    max-width: 25rem; } }
/* h1 {
    font-family: sans-serif;
} */
.modal {
  position: fixed;
  opacity: 0;
  transform: translateY(-3rem);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: $safedi;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
  font-size: 1rem; }

.modal__actions {
  text-align: center; }

.modal__action {
  border: 1px solid $default-color;
  background: $default-color;
  text-decoration: none;
  color: $safedi;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 1rem; }

.modal__action:hover,
.modal__action:active {
  background: $dark-green;
  border-color: $dark-green; }

.modal__action--negative {
  background: red;
  border-color: red; }

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454; }

/*# sourceMappingURL=main.css.map */
